[Unit]
Description=PWM Fan Control Service
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/local/bin/pigpiod
ExecStart=/usr/bin/python3 /home/pi/pwm-fan-control.py
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target
