[Unit]
Description=PWM fan control for Raspberry Pi
Wants=pigpiod.service
After=pigpiod.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/lib/rpi-fan-control/pwm-fan-control.py --config /etc/rpi-fan-control/config.json
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
